.field {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: black;
    background-color: #ddd;
    text-align: center;
    font-size: 100%;
    line-height: 36px;
    border: 4px solid;
}
